<div class="tabs">
  <div class="index">
    <div role="tab"
         (click)="tab=1" (keyup.enter)="tab=1"
         [ngClass]="{active: tab===1}">Professional experiences
    </div>
    <div role="tab"
    (click)="tab=2" (keyup.enter)="tab=2"
    [ngClass]="{active: tab===2}">Education background
    </div>
    <div role="tab"
         (click)="tab=3" (keyup.enter)="tab=3"
         [ngClass]="{active: tab===3}">Languages & Skills
    </div>
  </div>
  <div class="contents">
    <div *ngIf="tab === 1">
      <div class="row">
        <div class="col-sm experience">
          <div class="card" (click)="showModal('warner')">
            <img src="../assets/img/wmg.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">WMG, Petaling Jaya</h5>
              <h6>Oct. 2016 - Oct. 2023 (7 years)</h6>
              <p class="card-text"><strong>Senior Frontend Developer</strong></p>
              <p class="card-text">Angular 1/10/17, Bootstrap 3/Bootstrap 5, Github, NodeJS</p>
            </div>
          </div>
        </div>
        <div class="col-sm experience">
          <div class="card" (click)="showModal('mts')">
            <img src="../assets/img/manulife.jpeg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">MTS, Damansara Heights</h5>
              <h6>Jan. 2015 - Sep. 2016 (20 months)</h6>
              <p class="card-text"><strong>Frontend Developer</strong></p>
              <p class="card-text">Kendo UI, jQuery, Angular 1, Bootstrap 3, TortoiseSVN</p>
            </div>
          </div>
        </div>
        <div class="col-sm experience">
          <div class="card" (click)="showModal('ihome')">
            <img src="../assets/img/ihome.png" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">iHome Systems, SS15 </h5>
              <h6>Jul. 2014 - Dec. 2014 (6 months)</h6>
              <p class="card-text"><strong>Intern Software Engineer</strong></p>
              <p class="card-text">UI design, Mobile development, Regex, CF Software </p>
            </div>
          </div>
        </div>
        <div class="col-sm experience">
          <div class="card" (click)="showModal('airmaster')">
            <img src="../assets/img/airmaster.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">Airmaster, Toulon </h5>
              <h6>Apr. 2013 - Jul. 2013 (3 months)</h6>
              <p class="card-text"><strong>Intern Web Developer</strong></p>
              <p class="card-text">Wix, Joomla 2.5, PHP, MySQL, FileZilla, PHPMyAdmin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tab === 2">
      <div class="row">
        <div class="col-sm">
          <div class="card" (click)="showModal('isitv')">
            <img src="../assets/img/isitv.jpeg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">ISITV, Toulon</h5>
              <h6 class="card-text">Jul. 2011 - Dec.2014 (3 years 6 month)</h6>
              <p class="card-text">Masters in Telecommunication and Networking engineering</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" (click)="showModal('iut')">
            <img src="../assets/img/iut.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">IUT R&T, Sophia-Antipolis</h5>
              <h6>Jul. 2009 - Jul. 2011 (2 years)</h6><br/>
              <p class="card-text">Degree in Telecommunication and Networking engineering</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" (click)="showModal('mfi')">
            <img src="../assets/img/mfi.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">UniKL MFI, Bangi</h5>
              <h6>Jul. 2007 - Mar. 2009 (20 months)</h6><br/>
              <p class="card-text">PF6 preparation program</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" (click)="showModal('mfi')">
            <img src="../assets/img/mozac.JPG" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">MOZAC, Ayer Keroh</h5>
              <h6>Jan. 2002 - Dec. 2006 (5 years)</h6><br/>
              <p class="card-text">Secondary school</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tab === 3">
      <div class="row skillSection">
        <div class="col-sm">
          <div class="card">
            <img src="../assets/img/logoSection/language.jpg" class="card-img-top-skill" alt="">
            <div class="card-body">
              <h5 class="card-title">Languages</h5>
              <p class="card-text">English - level C2<br/> Malay - level C2<br/>  French - level C1</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/angular.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">Angular 1, 10, 17</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/bootstrap.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Bootstrap 3 and Bootstrap 5</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/csm.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Certified Scrum Master</h5>
              <p class="card-text">CSM by Scrum Alliance on 2018</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/nodejs.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">NodeJS</h5>
              <p class="card-text">Node version 18</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/css.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">CSS/LESS/SASS</h5>
              <p class="card-text">CSS preprocessor</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-img-container">
              <img src="../assets/img/logoSection/github.png" class="card-img-top-skill" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">Github</h5>
              <p class="card-text">Version control</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
