<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./myPortfolio.github.io/assets/favicon_io/apple-touch-icon.png" alt="" width="30" height="30">
      khaidir azman
    </a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ms-auto">
        <a class="nav-link menuItem" aria-current="page" href="https://wa.link/i76y8o" target="_blank">
          <i class="fa fa-phone"></i> +60176804671</a>
        <a class="nav-link menuItem" aria-current="page" href="mailto:khaidir.azman83@gmail.com" target="_blank">
          <i class="fa fa-envelope"></i> khaidir.azman83&#64;gmail.com</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <app-home></app-home>
  <app-about></app-about>
<!--  <app-contact></app-contact>-->
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-10 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"></svg>
    </a>
    <img src="./myPortfolio.github.io/assets/favicon_io/apple-touch-icon.png" alt="" width="30" height="30">
    <span style="margin-left: 1rem" class="mb-3 mb-md-0 text-muted">© 2023 khaidir azman</span>
  </div>
  <div class="col-md-2">
    <a class="linkedinIcon"
       href="https://www.linkedin.com/in/khaidir-azman-187b374a/" target=”_blank”>
      <i class="linkedinIcon fa fa-linkedin fa-2x"></i>
    </a>
    <a class="githubIcon"
       href="https://github.com/khaidirAzman" target=”_blank”>
      <i class="githubIcon fa fa-github fa-2x"></i>
    </a>
  </div>
</footer>
